/* Definiendo grilla*/
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
}

.main_container {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;

}

.chart {
    width: 90vw;
    height: 80vh
}

footer {
    grid-column: 1/3;
    grid-row: 2/3;
}
/* Ajustando tamaño de la imágen del pokemon */
.img {
    width: 10em;
}

/* Margen del div donde irá la información */
.infoPokemon {
    margin-bottom: 5em; 
    margin-left: 2em;  
}

body {
    background-color: #fdfdd7;
}

/* Media query para pantallas grandes */
@media screen and (min-width: 768px) {
    .img {
        width: 15em;
    }

    .main_container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }

    .box-datos {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .chart {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 30vw;
        height: 30vh;
    }

    footer {
        margin-top: 3em;
        padding: 5em;
    }

}

/* Aplicando animación a imagenes de pokemon */
@keyframes opacar {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.img {
    -webkit-animation-name: opacar;
            animation-name: opacar;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

/* Quitando viñetas a los elementos de <ul> */
ul {
    list-style: none;
}

.footer {
    background-color: rgb(214, 8, 8);
}

.footer_imgLogo {
    width: 8em;
}

/* Botones sweet alert */
.swal2-styled.swal2-confirm {
    background-color: #dad613;
    font-weight: bold;
    color: #000000;
}

.swal2-styled.swal2-cancel {
    background-color: #d63530;
    font-weight: bold;
}